:root {
  --main-color: #4717f6;
  --secondary-color: #4316e6;
  --text-color: #e7dfdd;
  --table-color: #4717f6;
  --background-color: #121212;

  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
  bottom: 0;
  height: 100vh;
  background-color: var(--background-color);
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

.button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  border-color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--main-color);
  cursor: pointer;
  width: 100%;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.leaflet-control-measure {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.leaflet-bar-part-top-and-bottom {
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border-bottom: none;
}

.leaflet-touch .leaflet-bar-part-top-and-bottom {
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  border-bottom: none;
}

.leaflet-control-measure-on .leaflet-control-measure {
  box-shadow: 0 0 8px rgba(10, 10, 10, 1);
}

.leaflet-measure-tooltip {
  font: 9px/1.25 "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px white;
  margin: 0;
  padding: 2px;
  width: auto !important;
  height: auto !important;
  white-space: nowrap;
}

.leaflet-measure-tooltip-total {
  font-weight: bold;
}

.leaflet-measure-tooltip-difference {
  color: var(--text-color);
}

table,
th,
td {
  border: 2px solid var(--table-color);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.creditText {
  font-size: 20px;
}

.text {
  font-size: 20px;
  color: var(--text-color);
}

#About {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  width: 100vw;
}

.colorSettings {
  width: 100%;
  background-color: var(--background-color);
}

.cPicker {
  width: 100%;
  background-color: var(--background-color);
  height: 50px;
}

.colorPicker {
  width: 100%;
  background-color: var(--background-color);
  text-align: center;
}

.cButton {
  width: 100%;
  background-color: var(--background-color);
  margin: 0px;
  margin-top: 10px;
}

.resetCircuit {
  background-color: var(--main-color);
  border-radius: 5px;
  border-color: var(--main-color);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.sortAsc {
  background-color: transparent;
  padding: 1px;
  border: none;
  border-radius: 5px;
}

.sortAsc:hover {
  background-color: var(--main-color);
}

.sortAsc:active {
  background-color: var(--secondary-color);
}

.sortDesc {
  background-color: transparent;
  border: none;
  padding: 1px;
  width: auto;
  border-radius: 5px;
}

.sortDesc:hover {
  background-color: var(--main-color);
}

.sortDesc:active {
  background-color: var(--secondary-color);
}

.sortContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
