body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #161616;
  color: #fff;
  padding: 20px;
}

h1,
h2 {
  margin: 0;
}

.themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px auto;
  max-width: 800px;
}

.theme {
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.theme-preview {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.color-picker {
  border-radius: 50%;
  height: 50px;
  margin: 5px;
  width: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* add a shadow */
  border: 1px solid #FFFFFF; /* add a border */
}

.theme-name {
  margin: 0;
}

.select-btn {
  margin-top: 10px;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 4px 6px var(--secondary-color);
}

.select-btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  transform: translateY(-3px);
  box-shadow: 8px 8px 12px var(--main-color);
}

.select-btn:active {
  transform: translateY(1px);
  box-shadow: none;
  background-color: var(--secondary-color);
}

.custom-theme .color-picker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 10px;
}
.custom-theme .color-picker:hover {
  border-color: #666;
}
